<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!-- Search pages extension point -->
  <extension point="org.eclipse.search.searchPages">
    <!-- When we're ready we need to set showScopeSection to true. -->
    <page
         id="org.scala.tools.eclipse.search.ui.ScalaSearchPage"
         label="Scala Search"
         sizeHint="250,160"
         tabPosition="1"
         extensions="scala:90"
         enabled="true"
         showScopeSection="false"
         class="org.scala.tools.eclipse.search.ui.ScalaSearchPage">
    </page>
  </extension>

  <!-- Force Eclipse to start the plugin when it starts. -->
  <extension point="org.eclipse.ui.startup">
    <startup class="org.scala.tools.eclipse.search.Startup"></startup>
  </extension>
</plugin>
