<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!-- Search pages extension point -->
  <extension point="org.eclipse.search.searchPages">
    <!-- When we're ready we need to set showScopeSection to true. -->
    <page
         id="org.scala.tools.eclipse.search.ui.SearchPage"
         label="Scala Search"
         sizeHint="250,160"
         tabPosition="1"
         extensions="scala:90"
         enabled="true"
         showScopeSection="false"
         class="org.scala.tools.eclipse.search.ui.SearchPage">
    </page>

    <!-- Force Eclipse to start the plugin when it starts. -->
    <extension point="org.eclipse.ui.startup">
      <startup/>
    </extension>
  </extension>

  <!-- Search Results panel extension point -->
  <extension point="org.eclipse.search.searchResultViewPages">
    <viewPage
             id="org.scala.tools.eclipse.search.ui.SearchResultPage"
             searchResultClass="org.scala.tools.eclipse.search.ui.SearchResult"
             class="org.scala.tools.eclipse.search.ui.SearchResultPage">
    </viewPage>
  </extension>

</plugin>
